#include<Windows.h>
#include<stdio.h>
#include"MyResource.h"

MYICON ICON "ProjectIcon2.ico"
MYBITMAP BITMAP "ProjectBitmap4.bmp"
//EMITMAP BITMAP "equilateral.bmp"
//IBITMAP BITMAP "Isosceles.bmp"
//SBITMAP BITMAP "Scalen.bmp"

DATAENTRY DIALOG DISCARDABLE 20, 0, 635, 360
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS  | WS_CAPTION | WS_SYSMENU

//STYLE DS_CENTER | WS_CAPTION
CAPTION "PCMB Preparation"

//COLOR RGB(255, 0, 0)

//CreateWindow("Button", "GroupBox Control", WS_CHILD | WS_VISIBLE | BS_GROUPBOX,
//	10, 10, 200, 100, hwnd, 0, GetModuleHandle(0), 0);

BEGIN

	//GroupBox

		GROUPBOX"Physics", ID_CWGROUPBOX1, 2, 10, 300, 155

		GROUPBOX"Mathematics", ID_CWGROUPBOX2, 2, 180, 300, 155
			//GROUPBOX"Sides", ID_CWGROUPBOX5, 6, 200, 140, 130
			//GROUPBOX"Angles", ID_CWGROUPBOX6, 156, 200, 140, 130


		GROUPBOX"Chemistry", ID_CWGROUPBOX3, 322, 100, 300, 155

		//GROUPBOX"Biology", ID_CWGROUPBOX4, 322, 180, 300, 155

	//RadioButtons

		AUTORADIOBUTTON"Physics", ID_RBPHYSICS, 0, 0, 65, 10, WS_TABSTOP | WS_GROUP
		AUTORADIOBUTTON"Mathematics", ID_RBMATHS, 0, 170, 65, 10, WS_TABSTOP
		AUTORADIOBUTTON"Chemistry", ID_RBCHEMISTRY, 320, 90, 65, 10, WS_TABSTOP
	//	AUTORADIOBUTTON"Biology", ID_RBBIOLOGY, 320, 170, 65, 10, WS_TABSTOP
		
		AUTORADIOBUTTON"Mars", ID_RBMARS, 30, 70, 65, 10, WS_DISABLED | WS_GROUP
		AUTORADIOBUTTON"Moon", ID_RBMOON, 30, 85, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Venus", ID_RBVENUS, 30, 100, 65, 10, WS_DISABLED

		AUTORADIOBUTTON"Mercury", ID_RBMERCURY, 95, 70, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Earth", ID_RBEARTH, 95, 85, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Jupiter", ID_RBJUPITER, 95, 100, 65, 10, WS_DISABLED

		AUTORADIOBUTTON"Saturn", ID_RBSATURN, 160, 70, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Neptune", ID_RBNEPTUNE, 160, 85, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Uranus", ID_RBURANUS, 160, 100, 65, 10, WS_DISABLED

		AUTORADIOBUTTON"Titan", ID_RBTITAN, 225, 70, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Pluto", ID_RBPLUTO, 225, 85, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Europa", ID_RBEUROPA, 225, 100, 65, 10, WS_DISABLED

		
		

		//radio buttons which are inside the  mathematics's groupbox are as follows
		
		AUTORADIOBUTTON"Three Sides", ID_RBSIDE, 6, 210, 65, 10, WS_GROUP | WS_DISABLED
		//AUTORADIOBUTTON"Two Sides and One Angle", ID_RBSAS, 70, 210, 105, 10, WS_DISABLED
		//AUTORADIOBUTTON"Two Angles and One Side", ID_RBAAS, 180, 210, 105, 10, WS_DISABLED
		AUTORADIOBUTTON"Three Angles", ID_RBANGLE, 155, 210, 65, 10, WS_DISABLED

		AUTORADIOBUTTON"Heat Engine", ID_RBHEATENGINE, 332, 130, 65, 10, WS_GROUP | WS_DISABLED
		AUTORADIOBUTTON"Refrigerator", ID_RBREF, 427, 130, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"AirConditioner", ID_RBAC, 522, 130, 65, 15, WS_DISABLED



	//PUSHBUTTON
		
		PUSHBUTTON"Save", ID_PBSAVE, 400, 340, 35, 10, BS_FLAT
		
		PUSHBUTTON "Exit",IDCANCEL, 500, 340, 30, 10, BS_FLAT
		
		PUSHBUTTON "Reset", ID_PBRESET, 450, 340, 30, 10, BS_FLAT
		
		PUSHBUTTON "Triangle Is", ID_PBTRIANGLES, 40, 290, 70, 10, WS_DISABLED | BS_FLAT

		PUSHBUTTON "Triangle Is", ID_PBTRIANGLEA, 155, 290, 60, 10, WS_DISABLED | BS_FLAT
		
		PUSHBUTTON "Angle Is", ID_PBANGLEA, 155, 310, 60, 10, WS_DISABLED | BS_FLAT

		PUSHBUTTON "Efficiency and Work Done (W)", ID_PBHEATENGINE, 332, 190, 80, 20, WS_DISABLED | BS_FLAT | BS_MULTILINE

		PUSHBUTTON "Coefficient of Performance and Q2", ID_PBREF, 427, 190, 80, 20, WS_DISABLED | BS_FLAT | BS_MULTILINE
	
		PUSHBUTTON "Coefficient of Performance and Q1", ID_PBAC, 522, 190, 80, 20, WS_DISABLED | BS_FLAT | BS_MULTILINE

	//Physics
	
	LTEXT"Mass :", -1, 160, 30, 40, 15
	EDITTEXT ID_ETMASS, 190, 30, 40, 10, WS_DISABLED | ES_CENTER | WS_TABSTOP

	LTEXT"Weight On Earth:", -1, 40, 30, 80, 15
	LTEXT"Kg", -1, 145, 30, 10, 15
	EDITTEXT ID_ETEARTHWGHT, 110, 30, 30, 10, WS_DISABLED | ES_CENTER

	CTEXT"Choose the Planet or Satellite", -1, 90, 50, 90, 15

	LTEXT"Gravity  :", -1, 80, 120, 60, 15
	LTEXT"m/s^2", -1, 180, 120, 60, 15
	EDITTEXT ID_ETGRAVITY, 130, 120, 40, 10, WS_DISABLED | ES_CENTER

	LTEXT"Weight On Planet :", -1, 50, 135, 80, 15
	LTEXT"kg", -1, 180, 135, 80, 15
	EDITTEXT ID_ETMWGHT, 130, 135, 40, 10, WS_DISABLED | ES_CENTER

	//Mathematics

	CTEXT"Choose The Method To Find Type Of Triangle: ", -1, 90, 190, 90, 20

	//if yes for listbox then x = 10, y = 220, width = 150 height = 15


	LTEXT"X1   :", -1, 10, 230, 40, 15
	EDITTEXT ID_ETSIDEONE, 40, 230, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"X2   :", -1, 10, 250, 40, 15
	EDITTEXT ID_ETSIDETWO, 40, 250, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"X3   :", -1, 10, 270, 40, 15
	EDITTEXT ID_ETSIDETHREE, 40, 270, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"Y1   :", -1, 80, 230, 40, 15
	EDITTEXT ID_ETYONE, 110, 230, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"Y2   :", -1, 80, 250, 40, 15
	EDITTEXT ID_ETYTWO, 110, 250, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"Y3   :", -1, 80, 270, 40, 15
	EDITTEXT ID_ETYTHREE, 110, 270, 25, 10, WS_DISABLED | ES_CENTER

	EDITTEXT ID_ETSIDERESULT, 30, 310, 90, 10, WS_DISABLED | ES_READONLY | ES_CENTER
	EDITTEXT ID_ETANGLERESULT, 225, 290, 75, 10, WS_DISABLED | ES_READONLY | ES_CENTER
	EDITTEXT ID_ETAGLRESULT, 225, 310, 75, 10, WS_DISABLED | ES_READONLY | ES_CENTER
	//Angle
	LTEXT"First Angle  :", -1, 155, 230, 80, 15
	EDITTEXT ID_ETAGLONE, 220, 230, 30, 10, WS_DISABLED | ES_CENTER

	LTEXT"Second Angle :", -1, 155, 250, 80, 15
	EDITTEXT ID_ETAGLTWO, 220, 250, 30, 10, WS_DISABLED | ES_CENTER

	LTEXT"Third Angle  :", -1, 155, 270, 80, 15
	EDITTEXT ID_ETAGLTHREE, 220, 270, 30, 10, WS_DISABLED | ES_CENTER

	CTEXT"Choose the Method To Implement Second Law of Thermodynamics", -1, 392, 110, 156, 15
// Heat Engine
	LTEXT"Enter Q1 :",-1, 332, 150, 80, 15
	LTEXT"J", -1, 415, 150, 10, 15
	EDITTEXT ID_ETQONE, 380, 150, 32, 10, WS_DISABLED | ES_CENTER

	LTEXT"Enter Q2 :",-1, 332, 170, 80, 15
	LTEXT"J", -1, 415, 170, 10, 15
	EDITTEXT ID_ETQTWO, 380, 170, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Efficiency: ",-1, 332, 220, 80, 15
	LTEXT"%", -1, 415, 220, 10, 15
	EDITTEXT ID_ETEFFICIENCY, 380, 220, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
	LTEXT"Work Done : ", -1, 332, 240, 80, 15
	LTEXT"J", -1, 415, 240, 10, 15
	EDITTEXT ID_ETWORKDONE, 380, 240, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
// Refrigerator
	LTEXT"Enter Q2 :", -1, 427, 150, 80, 15
	LTEXT"J", -1, 510, 150, 10, 15
	EDITTEXT ID_ETQTHREE, 475, 150, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Enter W  :", -1, 427, 170, 80, 15
	LTEXT"J", -1, 510, 170, 10, 15
	EDITTEXT ID_ETWD, 475, 170, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Q1  : ", -1, 447, 220, 80, 15
	LTEXT"J", -1, 510, 220, 10, 15
	EDITTEXT ID_ETQFOUR, 475, 220, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
	LTEXT"C.O.P. :", -1, 435, 240, 80, 15
	LTEXT"C", -1, 510, 240, 10, 15
	EDITTEXT ID_ETCOPONE, 475, 240, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
// Air Conditioner
	LTEXT"Enter Q1 :", -1, 522, 150, 80, 15
	LTEXT"J", -1, 605, 150, 8, 15
	EDITTEXT ID_ETQFIVE, 570, 150, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Enter W  :", -1, 522, 170, 80, 15
	LTEXT"J", -1, 605, 170, 8, 15
	EDITTEXT ID_ETWORK, 570, 170, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Q2  : ", -1, 542, 220, 60, 15
	LTEXT"J", -1, 605, 220, 8, 15
	EDITTEXT ID_ETQSIX, 570, 220, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
	LTEXT"C.O.P. :", -1, 530, 240, 80, 15
	LTEXT"C", -1, 605, 240, 10, 15
	EDITTEXT ID_ETCOPTWO, 570, 240, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY

END
