#include<Windows.h>
#include<stdio.h>
#include"MyResource.h"

MYICON ICON "ProjectIcon2.ico"
MYBITMAP BITMAP "ProjectBitmap2.bmp"
//EMITMAP BITMAP "equilateral.bmp"
//IBITMAP BITMAP "Isosceles.bmp"
//SBITMAP BITMAP "Scalen.bmp"

DATAENTRY DIALOG DISCARDABLE 20, 0, 635, 360
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS  | WS_CAPTION | WS_SYSMENU

//STYLE DS_CENTER | WS_CAPTION
CAPTION "PCMB Preparation"

//COLOR RGB(255, 0, 0)

//CreateWindow("Button", "GroupBox Control", WS_CHILD | WS_VISIBLE | BS_GROUPBOX,
//	10, 10, 200, 100, hwnd, 0, GetModuleHandle(0), 0);

BEGIN

	//GroupBox

		GROUPBOX"Physics", ID_CWGROUPBOX1, 2, 10, 300, 155

		GROUPBOX"Mathematics", ID_CWGROUPBOX2, 2, 180, 300, 155
			//GROUPBOX"Sides", ID_CWGROUPBOX5, 6, 200, 140, 130
			//GROUPBOX"Angles", ID_CWGROUPBOX6, 156, 200, 140, 130


		GROUPBOX"Chemistry", ID_CWGROUPBOX3, 322, 100, 300, 155

		//GROUPBOX"Biology", ID_CWGROUPBOX4, 322, 180, 300, 155

	//RadioButtons

		AUTORADIOBUTTON"Physics", ID_RBPHYSICS, 0, 0, 65, 10, WS_TABSTOP | WS_GROUP
		AUTORADIOBUTTON"Mathematics", ID_RBMATHS, 0, 170, 65, 10, WS_TABSTOP
		AUTORADIOBUTTON"Chemistry", ID_RBCHEMISTRY, 320, 90, 65, 10, WS_TABSTOP
	//	AUTORADIOBUTTON"Biology", ID_RBBIOLOGY, 320, 170, 65, 10, WS_TABSTOP
		
		AUTORADIOBUTTON"Mars", ID_RBMARS, 50, 70, 65, 10, WS_DISABLED | WS_GROUP
		AUTORADIOBUTTON"Moon", ID_RBMOON, 50, 85, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Venus", ID_RBVENUS, 50, 100, 65, 10, WS_DISABLED

		AUTORADIOBUTTON"Mercury", ID_RBMERCURY, 115, 70, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Earth", ID_RBEARTH, 115, 85, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Jupiter", ID_RBJUPITER, 115, 100, 65, 10, WS_DISABLED

		AUTORADIOBUTTON"Saturn", ID_RBSATURN, 180, 70, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Neptune", ID_RBNEPTUNE, 180, 85, 65, 10, WS_DISABLED

		//radio buttons which are inside the  mathematics's groupbox are as follows
		
		AUTORADIOBUTTON"Three Sides", ID_RBSIDE, 6, 210, 65, 10, WS_GROUP | WS_DISABLED
		//AUTORADIOBUTTON"Two Sides and One Angle", ID_RBSAS, 70, 210, 105, 10, WS_DISABLED
		//AUTORADIOBUTTON"Two Angles and One Side", ID_RBAAS, 180, 210, 105, 10, WS_DISABLED
		AUTORADIOBUTTON"Three Angles", ID_RBANGLE, 155, 210, 65, 10, WS_DISABLED

		AUTORADIOBUTTON"Heat Engine", ID_RBHEATENGINE, 332, 130, 65, 10, WS_GROUP | WS_DISABLED
		AUTORADIOBUTTON"Refrigerator", ID_RBREF, 437, 130, 65, 10, WS_DISABLED
		AUTORADIOBUTTON"Air Conditioner", ID_RBAC, 532, 130, 65, 10, WS_DISABLED



	//PUSHBUTTON
		
		PUSHBUTTON"Save", ID_PBSAVE, 400, 340, 35, 10, BS_FLAT
		
		PUSHBUTTON "Exit",IDCANCEL, 500, 340, 30, 10, BS_FLAT
		
		PUSHBUTTON "Reset", ID_PBRESET, 450, 340, 30, 10, BS_FLAT
		
		PUSHBUTTON "Triangle Is", ID_PBTRIANGLES, 40, 290, 70, 10, WS_DISABLED | BS_FLAT

		PUSHBUTTON "Triangle Is", ID_PBTRIANGLEA, 155, 290, 60, 10, WS_DISABLED | BS_FLAT
		
		PUSHBUTTON "Angle Is", ID_PBANGLEA, 155, 310, 60, 10, WS_DISABLED | BS_FLAT

		PUSHBUTTON "Efficiency and Work Done (W)", ID_PBHEATENGINE, 332, 190, 80, 20, WS_DISABLED | BS_FLAT | BS_MULTILINE

		PUSHBUTTON "Coefficient of Performance and Q2", ID_PBREF, 437, 190, 80, 20, WS_DISABLED | BS_FLAT | BS_MULTILINE
	
		PUSHBUTTON "Coefficient of Performance and Q1", ID_PBAC, 532, 190, 80, 20, WS_DISABLED | BS_FLAT | BS_MULTILINE

	//Physics
	
	LTEXT"Mass :", -1, 150, 30, 40, 15
	EDITTEXT ID_ETMASS, 180, 30, 40, 10, WS_DISABLED | ES_CENTER | WS_TABSTOP

	

	LTEXT"Weight On Earth:", -1, 40, 30, 80, 15
	EDITTEXT ID_ETEARTHWGHT, 110, 30, 30, 10, WS_DISABLED | ES_CENTER
	

	CTEXT"Choose the Planet or Satellite", -1, 90, 50, 90, 15

	LTEXT"Gravity  :", -1, 80, 120, 60, 15
	EDITTEXT ID_ETGRAVITY, 130, 120, 40, 10, WS_DISABLED | ES_READONLY | ES_CENTER

	LTEXT"Weight On Planet :", -1, 50, 135, 80, 15
	EDITTEXT ID_ETMWGHT, 130, 135, 40, 10, WS_DISABLED | ES_CENTER

	

	//Mathematics

	CTEXT"Choose The Method To Find Type Of Triangle: ", -1, 90, 190, 90, 20

	//if yes for listbox then x = 10, y = 220, width = 150 height = 15


	LTEXT"X1   :", -1, 10, 230, 40, 15
	EDITTEXT ID_ETSIDEONE, 40, 230, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"X2   :", -1, 10, 250, 40, 15
	EDITTEXT ID_ETSIDETWO, 40, 250, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"X3   :", -1, 10, 270, 40, 15
	EDITTEXT ID_ETSIDETHREE, 40, 270, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"Y1   :", -1, 80, 230, 40, 15
	EDITTEXT ID_ETYONE, 110, 230, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"Y2   :", -1, 80, 250, 40, 15
	EDITTEXT ID_ETYTWO, 110, 250, 25, 10, WS_DISABLED | ES_CENTER

	LTEXT"Y3   :", -1, 80, 270, 40, 15
	EDITTEXT ID_ETYTHREE, 110, 270, 25, 10, WS_DISABLED | ES_CENTER

	/*LTEXT"S1   :", -1, 10, 300, 40, 15
	EDITTEXT ID_ETSONE, 40, 300, 20, 10, WS_DISABLED
	LTEXT"S2   :", -1, 80, 300, 40, 15
	EDITTEXT ID_ETSTWO, 120, 300, 20, 10, WS_DISABLED
	LTEXT"S3   :", -1, 10, 310, 40, 15
	EDITTEXT ID_ETSTHREE, 40, 310, 20, 10, WS_DISABLED*/
	

	EDITTEXT ID_ETSIDERESULT, 30, 310, 90, 10, WS_DISABLED | ES_READONLY | ES_CENTER
	EDITTEXT ID_ETANGLERESULT, 225, 290, 75, 10, WS_DISABLED | ES_READONLY | ES_CENTER
	EDITTEXT ID_ETAGLRESULT, 225, 310, 75, 10, WS_DISABLED | ES_READONLY | ES_CENTER
	//Angle
	LTEXT"First Angle  :", -1, 155, 230, 80, 15
	EDITTEXT ID_ETAGLONE, 220, 230, 30, 10, WS_DISABLED | ES_CENTER

	LTEXT"Second Angle :", -1, 155, 250, 80, 15
	EDITTEXT ID_ETAGLTWO, 220, 250, 30, 10, WS_DISABLED | ES_CENTER

	LTEXT"Third Angle  :", -1, 155, 270, 80, 15
	EDITTEXT ID_ETAGLTHREE, 220, 270, 30, 10, WS_DISABLED | ES_CENTER

	//Chemistry
	//		GROUPBOX"Chemistry", ID_CWGROUPBOX3, 322, 10, 300, 155
	//		AUTORADIOBUTTON"Heat Engine", ID_RBHEATENGINE, 332, 20, 65, 10, WS_GROUP | WS_DISABLED
	//		AUTORADIOBUTTON"Refrigerator", ID_RBHEATENGINE, 437, 20, 65, 10, WS_DISABLED
	//		AUTORADIOBUTTON"Air Conditioner", ID_RBHEATENGINE, 532, 20, 65, 10, WS_DISABLED

			CTEXT"Choose the Method To Implement Second Law of Thermodynamics", -1, 392, 110, 156, 15
// Heat Engine
	LTEXT"Enter Q1 :",-1, 332, 150, 80, 15
	EDITTEXT ID_ETQONE, 380, 150, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Enter Q2 :",-1, 332, 170, 80, 15
	EDITTEXT ID_ETQTWO, 380, 170, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Efficiency: ",-1, 332, 220, 80, 15
	EDITTEXT ID_ETEFFICIENCY, 380, 220, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
	LTEXT"Work Done : ", -1, 332, 240, 80, 15
	EDITTEXT ID_ETWORKDONE, 380, 240, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
// Refrigerator
	LTEXT"Enter Q2 :", -1, 437, 150, 80, 15
	EDITTEXT ID_ETQTHREE, 485, 150, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Enter W  :", -1, 437, 170, 80, 15
	EDITTEXT ID_ETWD, 485, 170, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Q1  : ", -1, 457, 220, 80, 15
	EDITTEXT ID_ETQFOUR, 485, 220, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
	LTEXT"C.O.P. :", -1, 445, 240, 80, 15
	EDITTEXT ID_ETCOPONE, 485, 240, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
// Air Conditioner
	LTEXT"Enter Q1 :", -1, 532, 150, 80, 15
	EDITTEXT ID_ETQFIVE, 580, 150, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Enter W  :", -1, 532, 170, 80, 15
	EDITTEXT ID_ETWORK, 580, 170, 32, 10, WS_DISABLED | ES_CENTER
	LTEXT"Q2  : ", -1, 552, 220, 60, 15
	EDITTEXT ID_ETQSIX, 580, 220, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY
	LTEXT"C.O.P. :", -1, 540, 240, 80, 15
	EDITTEXT ID_ETCOPTWO, 580, 240, 32, 10, WS_DISABLED | ES_CENTER | ES_READONLY


	
	/*LTEXT"Name   :", -1, 35, 10, 40, 10
	EDITTEXT ID_ETNAME, 70, 10, 140, 10

	LTEXT"Address	:", -1, 26, 29, 49, 9
	EDITTEXT ID_ETADDRESS, 70, 30, 150, 10, WS_TABSTOP

	LTEXT"Age   :", -1, 41, 50, 40, 10
	EDITTEXT ID_ETAGE, 70, 50, 15, 10, WS_TABSTOP

	LTEXT"Select Subject 1 : ", -1, 5, 70, 60, 10
	AUTORADIOBUTTON"Physics", ID_RBPHYSICS, 70, 71, 45, 10, WS_TABSTOP | WS_GROUP
	AUTORADIOBUTTON"Chemistry", ID_RBCHEMISTRY, 120, 71, 65, 10, WS_TABSTOP

	LTEXT"Select Subject 2 : ", -1, 5, 90, 80, 10
	AUTORADIOBUTTON"Biology", ID_RBBIOLOGY, 70, 91, 65, 10, WS_TABSTOP | WS_GROUP
	AUTORADIOBUTTON"Mathematics", ID_RBMATHS, 120, 91, 85, 10, WS_TABSTOP*/

END


